@model IEnumerable<Project.NET.Models.ProductModel>

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@RenderPage("~/Views/Shared/hoverCart.cshtml")
@section css
{
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/responsiveIndex.css" rel="stylesheet">
}

@section scriptPage
{
    <script src="~/Scripts/click-filter.js"></script>
}
<div id="content1" style="overflow:auto">
    <h1>@ViewBag.page</h1>
    <div class="title-pro-all">
        <div class="logo-lap" style="background-image: url('/Content/image/logo-laptop/msi.png')"></div>
        <span>TRUE GAMING. SOME ARE PC, WE ARE GAMING</span>
    </div>
    <div class="filter-product">
        <div class="title-filter-product">
            <div style="border-left: 3px solid #111111;padding-left: 8px">Bộ lọc</div>
        </div>
        <div class="filter">
            <div class="title-filter">
                Thương hiệu
            </div>
            <div class="filter-items">
                @foreach (var manufacturer in ViewBag.manufacturers)
                {
                    <div class="filter-item">
                        @manufacturer.TenHang
                        <div class="tick"><i class="fas fa-check" style="position: absolute;  left: 7px"></i></div>
                    </div>
                }
            </div>
        </div>
        <div class="filter">
            <div class="title-filter">
                Màu sắc
            </div>
            <div class="filter-items">
                @foreach (var color in ViewBag.colors)
                {
                    <div class="filter-item">
                        @color
                        <div class="tick"><i class="fas fa-check" style="position: absolute;  left: 7px"></i></div>
                    </div>
                }
            </div>
        </div>
        <div class="filter">
            <div class="title-filter">
                Series CPU
            </div>
            <div class="filter-items">
                @foreach (var serie in ViewBag.series)
                {
                    <div class="filter-item">
                        @serie
                        <div class="tick"><i class="fas fa-check" style="position: absolute;  left: 7px"></i></div>
                    </div>
                }
            </div>
        </div>
        <div class="filter">
            <div class="title-filter">
                Dung lượng RAM
            </div>
            <div class="filter-items">
                @foreach (var ram in ViewBag.rams)
                {
                    <div class="filter-item">
                        @ram
                        <div class="tick"><i class="fas fa-check" style="position: absolute;  left: 7px"></i></div>
                    </div>
                }
            </div>
        </div>
        <div class="filter">
            <div class="title-filter">
                VGA
            </div>
            <div class="filter-items">
                @foreach (var vga in ViewBag.vgas)
                {
                    <div class="filter-item">
                        @vga
                        <div class="tick"><i class="fas fa-check" style="position: absolute;  left: 7px"></i></div>
                    </div>
                }

            </div>
        </div>

    </div>
    <div class="filter-another">
        <div class="title-filter">
            Sắp xếp theo
        </div>
        <div class="filter-items">
            <div class="filter-item-another">
                Giá giảm dần
                <div class="tick tick-another"><i class="fas fa-check" style="position: absolute;  left: 7px"></i></div>
            </div>
            <div class="filter-item-another">
                Giá tăng dần
                <div class="tick tick-another"><i class="fas fa-check" style="position: absolute;  left: 7px"></i></div>
            </div>
            <div class="price-filter">
                <div class="filter-item-another" style="cursor: auto">
                    <input class="input-filter-product" placeholder="Giá thấp nhất">
                </div>
                <span style="line-height: 2; text-align: center">-</span>
                <div class="filter-item-another" style="cursor: auto">
                    <input class="input-filter-product" placeholder="Giá cao nhất">
                </div>
            </div>
            <button class="btn-search-filter">Tìm</button>

        </div>
    </div>
    <div class="cover-all-product">
        <div class="all-product-cover">
            @foreach (var product in ViewBag.products)
            {
                <div class="hover-all-product">
                    <a class="all-product-item" href="product-page.html">
                        <div class="status-sale">-11%</div>
                        <div class="img-all-product-item"
                             style="background-image: url('/Content/@product.LINKHINH11')">
                        </div>
                        <div class="status">HẾT HÀNG</div>
                        <div class="infor-all-product-item">
                            @product.TENLAPTOP1
                        </div>
                        <div class="price-all-product-item">
                            @product.GIABAN1 đ
                        </div>
                        <div class="sale-all-product-item">
                            <span class="origin-price">33.999.000đ</span> <span>11%</span>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
    <div class="dots-slick"></div>
    <ul class="my-pagination">
        @if (ViewBag.currentPage != 1)
        {
            <li><a href="/Product?page=@(ViewBag.currentPage - 1)" class="paging">< Back</a></li>
        }
        @for (int i = 1; i < ViewBag.endPage; i++)
        {
            if (i == ViewBag.currentPage)
            {
                <li><a href="/Product?page=@i" class="paging active">@i</a></li>
            }
            if (i != ViewBag.currentPage)
            {
                <li><a href="/Product?page=@i" class="paging">@i</a></li>
            }
        }
        @if (ViewBag.currentPage != ViewBag.endPage - 1)
        {
            <li><a href="/Product?page=@(ViewBag.currentPage + 1) " class="paging">Continue ></a></li>
        }
    </ul>
</div>

