
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@RenderPage("~/Views/Shared/hoverCart.cshtml")

@section css
{
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/responsiveIndex.css" rel="stylesheet">
}

@section scriptPage
{
    <script src="~/Scripts/slider.js"></script>
    <script src="~/Scripts/product-bestseller.js"></script>
}

<div id="slider">
    <div class="slider-image"
         style="background-image: url('/Content/image/slider/Slider-image1.jpg')"></div>
    <div class="slider-image"
         style="background-image: url('/Content/image/slider/Slider-image2.jpg')"></div>
    <div class="slider-image"
         style="background-image: url('/Content/image/slider/Slider-image3.jpg') "></div>
    <div class="slider-image"
         style="background-image: url('/Content/image/slider/Slider-image4.jpg')"></div>
    <div class="slider-image"
         style="background-image: url('/Content/image/slider/Slider-image5.jpg') "></div>
    <button class="btn-slider previous">
        <i class="fas fa-chevron-left"></i>
    </button>
    <button class="btn-slider next">
        <i class="fas fa-chevron-right"></i>
    </button>
    <div class="slider-element">
        <div class="slider-items slider-left"></div>
        <div class="slider-items slider-center"></div>
        <div class="slider-items slider-right"></div>
    </div>
</div>
<div id="content">
    <div class="outstanding-brand">
        <div class="outstading-brand-main">
            <div class="title-outstanding">
                <div class="border-outstanding"></div>
                <div class="title-main">Thương hiệu nổi bật</div>
            </div>
            <div class="outstand-product">
                @foreach (var x in ViewBag.topProducer)
                {
                    <div class="outstand-product-items">
                        <a class="click-css" href="Product?idHang=@x.TenHang">
                            <div class="img-outstand" style="background-image: url('/Content/@x.LogoNgang')"></div>
                        </a>
                        <div class="title-outstand">@x.TenHang</div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="product">
        @foreach (var y in ViewBag.productsTop4)
        {
            <div class="product-biggest">
                <div class="product-item-big">
                    <div class="title-product">
                        <div class="border-product"></div>
                        <div class="title-main-product">@y.TenHang (@y.Slogan)</div>
                        <a class="view-all" href="/Product?idHang=@y.TenHang">
                            Xem tất cả <i class="fas fa-angle-right"></i>
                        </a>
                    </div>
                    <div class="product-cover">
                        <div style="overflow: hidden; border-radius: 0 0 0 10px">
                            <a class="product-hover-selling" href="/Product?idHang=@y.TenHang">
                                <div class="product-selling"
                                     style="
                        background-image: url('/Content/@y.Poster');
                      "></div>
                            </a>
                        </div>
                        <div class="product-item-cover">
                            @foreach (var z in ViewBag.productsTop)
                            {
                                if (z.HANG1 == y.TenHang)
                                {
                                    <a class="product-hover-items" href="/ProductDetail?id=@z.MALAPTOP1">
                                        <div class="product-items border-item-top1">
                                            <div class="title-product-item">@z.TENLAPTOP1</div>
                                            <div class="slogan-item">@z.GIABAN1 VND</div>
                                            <div class="img-product-item"
                                                 style="
                          background-image: url('/Content/@z.LINKHINH11');
                        "></div>
                                        </div>
                                    </a>
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="bestseller">
        <div class="bestseller-main">
            <div class="title-bestseller">
                <div class="border-bestseller"></div>
                <div class="title-main-bestseller">Bán chạy nhất</div>
                <a class="view-all-bestseller" href="">
                    Xem tất cả <i class="fas fa-angle-right"></i>
                </a>
            </div>
            <div class="product-bestseller">
                @foreach (var x in ViewBag.productsProductBS)
                {
                    <a class="click-action" href="">
                        <div class="product-bestseller-items">
                            <div class="img-product-bestseller"
                                 style="
                      background-image: url('/Content/@x.LINKHINH11');
                    "></div>
                            <div class="product-bestseller-name">
                                <div class="product-name">
                                    @x.TENLAPTOP1
                                </div>
                                <div class="product-status">Còn 1 sản phẩm</div>
                            </div>
                            <div class="product-price">@x.GIABAN1 ₫</div>
                        </div>
                    </a>
                }


            </div>
        </div>
    </div>
</div>
